DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_CHANNEL_ID=your_channel_id_here
DISCORD_ROLE_ID=
MEDIA_ARTICLES_SOURCE=../content/media-articles.js
ARTICLE_BASE_URL=https://eurosuperleague.github.io/index/.eslmedia/content/
CHECK_INTERVAL_MS=300000
